@import './mixins.scss';
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    @include vendor-prefix(user-select,none);
    @include vendor-prefix(box-sizing,border-box);
}
/*输入框不能阻止选择否则ios无法输入*/
input ,textarea{
    @include vendor-prefix(user-select,initial);
}
body {
    @include position(( p : absolute,t:0,r:0,b:0,l:0));
    overflow: hidden;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, sans-serif !important;
    color: #2e2f33;
    background: $white;
}
#app{
    @include position(( p : absolute,t:0,r:0,b:0,l:0));
}
a {
    color: #0894ec;
    text-decoration: none;
}

a:active {
    color: #0a8ddf;
}

.page {
    @include position(( p : absolute,t:0,r:0,b:0,l:0,z:2000));
    background: #e9e9e9;
}

.content {
    @include position(( p : absolute,t:0,r:0,b:0,l:0));
    @include overflow-scroll(y)
}

.bar-nav~.content {
    top: .88rem;
}

.bar-nav.transparent~.content {
    top: 0;
}

.bar-footer~.content {
    bottom: 1rem;
}

.bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: .88rem;
    background-color: #095aaa;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bar.transparent {
    background-color: transparent;
}


/*普通定义*/

ol,
ul,
li {
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tl {
    text-align: left!important;
}

.tc {
    text-align: center!important;
}

.tr {
    text-align: right!important;
}

.red {
    color: #ff0000 !important;
}

.fb {
    font-weight: 700;
}

.mt10 {
    margin-top: .1rem !important;
}

.col-x-3 li {
    width: 33.3%;
}

.col-x-5 li {
    width: 20%;
}


/*头部导航*/

.bar-nav {
    padding: .17rem .3rem 0;

}

.bar-nav .nav-ico {
    width: .5rem;
    display: block;
}

.bar-nav h1 {
    font-size: .35rem;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin: 0;
    margin-top: 0.265rem;
    line-height: 1;
}

.bar-nav h2 {
    font-size: .3rem;
    line-height: 1;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding-top: 0.17rem;
}

.bar-nav h2 span {
    font-size: .15rem;
}

.bar-nav .nav-search {
    width: 5.1rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    height: inherit;
}

.bar-nav {
    padding: 0rem .3rem 0;
    background: -webkit-linear-gradient(180deg,#1d2088, #0075ba);
    background: linear-gradient(to left,#1d2088, #0075ba);
}

.bar-nav .nav-search {
    padding: 0.17rem 0;
}

.nav-search input {
    width: 100%;
    height: .5rem;
    line-height: 0.5rem;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border-radius: 0.22rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
    padding-left: .6rem;
    font-size: .22rem;
    visibility: hidden;
}

.nav-search.active input {
    visibility: visible;
}

.nav-search.active p {
    display: none;
}

.nav-search.active:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: .5rem;
    height: 0.5rem;
    background: url(../assets/head-ico3.png) 62%;
    background-size: 100%;
    left: 0px;
}

.nav-search p {
    margin: 0;
    padding: 0;
    height: 0.5rem;
    width: 100%;
    border-radius: 0.22rem;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
    top: 0;
    text-align: center;
    font-size: 0.22rem;
    line-height: 0.5rem;
    color: #fff;
    top: 0.17rem;
}

.nav-search p img {
    vertical-align: middle;
    width: 0.5rem;
}

.bar-nav a {
    position: absolute;
    padding-top: 0.19rem;
}

.bar-nav a.myspace {
    left: 0.3rem;
}

.bar-nav a.message {
    right: 0.3rem;
}


/*底部导航*/





/*交易详情*/

.jyhq-type {
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
    height: .7rem;
}

.jyhq-type ul li {
    box-sizing: border-box;
    height: .7rem;
    line-height: .7rem;
    float: left;
    color: #2e2f33;
    border-bottom: 3px solid #fff;
    font-size: .25rem;
    text-align: center;
}

.jyhq-type ul li a {
    color: #2e2f33;
}

.jyhq-type ul li.active {
    border-bottom-color: #22ac38;
}

.dapan-info {
    height: 1.7rem;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.dapan-info .dapan-info-left {
    width: 3.2rem;
    float: left;
    padding: .15rem 0 0 .3rem;
}

.dapan-info .dapan-info-left h1 {
    font-size: .7rem;
    color: #ff0000;
    margin: 0 0 .08rem 0;
}

.dapan-info .dapan-info-left h5 {
    margin: 0;
    font-size: .25rem;
    color: #ff0000;
}

.dapan-info .dapan-info-left h5 span:first-child {
    margin-right: .25rem;
}

.dapan-info .dapan-info-right {
    margin-left: 3.2rem;
}

.dapan-info .dapan-info-right ul li {
    float: left;
    font-size: .2rem;
    padding: .18rem 0 .05rem;
    color: #2e2f33;
    line-height: 1.2;
}

.dapan-info .dapan-info-right ul li strong {
    font-size: .25rem;
    display: block;
}

.dapan-info-more {
    height: .9rem;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.dapan-info-more ul li {
    text-align: center;
    float: left;
    font-size: .2rem;
    padding: .18rem 0 .05rem;
    color: #2e2f33;
    line-height: 1.3;
}

.dapan-info-more ul li strong {
    font-size: .25rem;
    display: block;
}

.jjpan {
    margin-bottom: .1rem;
    overflow: hidden;
}

.jjpan .jjpan-left {
    float: left;
    background-color: #fff;
    width: 2.9rem;
    padding: 0 .27rem .15rem;
    height: 5.7rem;
}

.jjpan .jjpan-right {
    width: 4.5rem;
    float: right;
    background-color: #fff;
    padding: 0 .27rem;
    height: 5.7rem;
}

.wudang {
    width: 100%;
    font-size: .18rem;
}

.wudang .caption {
    height: .54rem;
    padding-top: .14rem;
    font-size: .2rem;
    border-bottom: 1px solid #b4bbd6;
}

.wudang td {
    height: 0.46rem;
}

.wudang th {
    font-weight: 300;
    height: .54rem;
    border-bottom: 1px solid #b4bbd6;
}

.jjpan-buy {
    margin-top: .3rem;
    overflow: hidden;
}

.jjpan-buy ul li {
    height: .8rem;
    border-bottom: 1px solid #e5e5e5;
    padding-top: .3rem;
}

.jjpan-buy ul li span {
    font-size: .25rem;
    float: left;
}

.jjpan-buy ul li input {
    font-size: .2rem;
    float: left;
    text-align: center;
    width: 2.7rem;
    border: none;
}

.jjpan-buy ul li.btn {
    border-bottom: none;
    height: 1.3rem;
    padding-top: .3rem;
}

.jjpan-buy ul li.btn button {
    width: 100%;
    float: left;
    height: .8rem;
    border-radius: .06rem;
    font-size: .25rem;
    color: #fff;
    background: -webkit-linear-gradient(#324fff, #1d2088);
    border: none;
    box-shadow: 0 1px 4px 0 #5887ff;
}


/*交易详情end*/







        /*
 * 无限滚动样式
 */
.infinite-pocket{
    text-align: center;
    color:#666;


    text-align: center;
    font-size: 0.25rem;
    margin: 8px;
}



.infinite-pocket .preloader ,.refresh-pocket .preloader{
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s steps(12, end) infinite;
    -o-animation: preloader-spin 1s steps(12, end) infinite;
    animation: preloader-spin 1s steps(12, end) infinite;
}
.infinite-pocket  .preloader{
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: -3.5px;

}
.preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23666666'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

.preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes preloader-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*下拉刷新*/
.refresh-pocket{
    text-align: center;
    color:#666;
    height:2rem;
    line-height:2rem;
    font-size:0.85rem;
    margin-top:-2rem;
}
.refresh-pocket-hidden{
    visibility: hidden;
}
.refresh-pocket .preloader{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right:5px;
    vertical-align: -.17rem;
}
.pull-to-refresh-arrow {
    display: inline-block;
    width: .65rem;
    height: 20px;
    vertical-align: -5px;
    margin-right:5px;
    background: no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2026%2040'%3E%3Cpolygon%20points%3D'9%2C22%209%2C0%2017%2C0%2017%2C22%2026%2C22%2013.5%2C40%200%2C22'%20fill%3D'%238c8c8c'%2F%3E%3C%2Fsvg%3E");
    background-size: .65rem 1rem;
    -webkit-transition: 300ms all linear;
    transition: 300ms all linear;
}
.arrow-turn-up{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

}
.arrow-turn-down{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*
 * tab导航栏样式
 */
.nav-tab{
    background-color: #fff;
    border-bottom: 1px solid #ecedee;
    height: .7rem;
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
    background:#f3f7f9;
}
.nav-tab li {
    box-sizing: border-box;
    height: .7rem;
    vertical-align: middle;
    display: table-cell;
    color: #2e2f33;
    font-size: .25rem;
    text-align: center;
    position: relative;
}
.nav-tab li.active{
    color : #2a7bc1;
}
.nav-tab li.active::after{
    position: absolute;
    content: '';
    border-bottom: 5px solid #fff;
    bottom: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
}

/*开关按钮*/

.hidden{
    display:none !important;
}
.switch{
    width:60px;
    height:25px;
    float:right;
    border-radius: 20px;
    transition-property: background ,border;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background-clip:padding-box;
    line-height: 25px;
    position:relative;
    background:#aaa;
    display:inline-block;
    font-size:15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.switch i{
    font-style: normal;
    display: inline-block;
    color:#fff;
}
.switch .switch-handle{
    border-radius:20px;
    height:24px;
    width:24px;
    box-shadow:0 2px 5px #1d2088;
    transition-property: left,right,transform,width;
    transition-timing-function: ease-in-out;
    background-clip:padding-box;
    position:absolute;
    z-index: 1;
    transition-duration: .2s;
    background:#fff;
    left:0;
    top:0;
}
.switch .switch-handle.switch-active{
    width:38px;
}
.switch.switch-on .switch-handle.switch-active{
    left:-13px;
}
.switch.switch-on{
    background:#1d2088;
}
.switch .on{
    padding-left:5px;
    float:left;
}
.switch .off{
    padding-right:5px;
    float:right;
}

.transparent{
    background: transparent;
}

/*列表*/
.list-block {
    margin: 0;
    font-size: .30rem;
}
.list-block ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
}
.list-block ul li{
    position: relative;
    height: 45px;
    line-height: 45px;
    @include hairline(bottom , #ccc);  
    padding-left:15px; 
}
.list-block ul li:active{
    background:#eee;
    transition: .3s;
}
.list-block ul li.disabled:active{
    background:transparent;
}
.list-block-arrow-right{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: inline-block;
    width:0.4rem;
    height:0.4rem;
    background:url('../assets/icon/i-list-arrow-right.png');
    background-size:100%;
    right:10px;
}
.list-block-icon{
    width:0.5rem;
    height:0.5rem;
    vertical-align: middle;
    margin-right: 5px;
    margin-left:5px;
    display:inline-block;
    background-size:100% !important;
}
