@import './mixins.scss';
*{
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
html{
	font-size:17px;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: .85rem;
    line-height: 1.5;
    color: #3d4145;
    background: #eee;
    font-family: "微软雅黑";
    -webkit-user-select: none;
    user-select: none;
}
a:active {
  color: #0a8ddf;
}
.page {
   position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: #eee;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.bar-nav ~ .content {
  top: 2.5rem;
}
.bar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  height: 2.5rem;
  padding-right: .5rem;
  padding-left: .5rem;
  background-color: #f7f7f8;
  border-bottom: 1px solid #e7e7e7;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.bar-nav {
  top: 0;
}
.bar-tab {
  bottom: 0;
  z-index: 9000;
  width: 100%;
  height: 2.5rem;
  padding: 0;
  table-layout: fixed;
  border-top: 1px solid #e7e7e7;
  border-bottom: 0;
  border-left: 0;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}
.bar-footer ~ .content {
  bottom: 2.2rem;
}
.text-center {
  text-align: center;
}

button ,.btn{
	@include vendor-prefix(transition,.2s);
	
}

