@import './mixins.scss';
.news-title{
  font-size:0.3rem;
  text-indent:2em;
}
 .content{
  background:$white;
}
.news-content{
  font-size:0.25rem;
}
.news-item{
  position:relative;
  padding:5px;
  @include hairline(bottom,#ddd);
}
.news-item:active{
    background:#eee
}
.release-time{
  text-align: right;
  font-size: 0.2rem;
  color: $gray;
}
.news-item .news-title , .news-item .release-time{
  margin:5px;
}